<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">설문조사</div>
  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
<div class="menu_line"></div>

<form action="/transJson" method="post">
    <div class="container mt-3" style="width: 60%; margin: 5px auto;">
      <ul class="list-group list-group-flush">
        <!-- 첫 번째 질문: 라디오 버튼 -->
        <li class="list-group-item">
          <strong>관심있는 종목</strong>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="box_check_one" id="team_high" value="경제" th:checked="${box_check_one == '경제'}">
            <label class="form-check-label" for="team_high">경제</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="box_check_one" id="team_mid" value="IT" th:checked="${box_check_one == 'IT'}">
            <label class="form-check-label" for="team_mid">IT</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="box_check_one" id="team_low" value="스포츠" th:checked="${box_check_one == '스포츠'}">
            <label class="form-check-label" for="team_low">스포츠</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="box_check_one" id="team_low" value="문화" th:checked="${box_check_one == '문화'}">
            <label class="form-check-label" for="team_low">문화</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="box_check_one" id="team_low" value="정치" th:checked="${box_check_one == '정치'}">
            <label class="form-check-label" for="team_low">정치</label>
          </div>
        </li>
        
        <div class="menu_line"></div>
        
      
      </ul>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">완료</button>
      <button type="button" onclick="location.href='/survey/list_search'" class="btn btn-secondary btn-sm">목록</button>
    </div>

</form>


    
</div>
</html>


