<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content">
    <div class="title_line"><td class="td_bs">
        <a <style="display:block; color:black;" 
         th:text="${surveyVO.topic}"></a>
    </td> </div>
   
  
    <aside class="aside_right" >
        <a th:href="@{|/surveytopic/create?surveyno=${surveyVO.surveyno}|}" style="color: black">등록</a>
        <span class="menu_divide" style="color: black">|</span>
        <a href="javascript: location.reload();" style="color: black">새로 고침</a>
        <span class="menu_divide">|</span>
        <a th:href="@{|/survey/list_search?surveyno=${surveyVO.surveyno}|}" style="color: black">목록</a>
    </aside>
  

    <div style="width: 100%; margin: 70px auto;">
        <div th:each="surveytopicVO, status:${surveytopicList}" 
             style="display: flex; align-items: center; background-color: rgb(81, 138, 75); color: white; padding: 10px; margin: 0; border-radius: 5px; border-bottom: 10px solid white;">
    
            <!-- 출력 순서 -->
            <div style="text-align: center; margin-right: 20px;">
                <span th:text="${surveytopicVO.seqno}" style="color: white;"></span>
                <span style="color: white;">.</span> <!-- 점 추가 -->
            </div>
    
            <!-- 제목 중앙 정렬 -->
            <div style="flex-grow: 1; text-align: center; margin-right: 20px;">
                <span th:text="${surveytopicVO.topic}" style="color: white;"></span>
            </div>
    
            <!-- 수정 및 삭제 아이콘 -->
            <div>
                <a th:href="@{|/surveytopic/update?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/surveytopic/images/update.png" class="icon" title="수정">
                </a>
                <a th:href="@{|/surveytopic/delete?surveytopicno=${surveytopicVO.surveytopicno}&surveyno=${surveytopicVO.surveyno}|}">
                    <img src="/surveytopic/images/delete.png" class="icon" title="삭제">
                </a>          
            </div>
        </div>
    </div>
    
</div>
</html>


