<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>전체 종목 데이터 목록</div>

  <!-- 목록 상단 -->
  <aside class="aside_right">
      <a href="javascript:location.reload();">새로고침</a>
      <span> | </span>
      <!-- 수정된 "등록" 링크 -->
      <a th:href="@{|/stockdata/create|}">등록</a>

  </aside>
  
  <!-- 목록 테이블 -->
  <table class="table table-striped" style='width: 100%;'>
      <colgroup>
          <col style='width: 20%;'/>
          <col style='width: 20%;'/>
          <col style='width: 20%;'/>
          <col style='width: 20%;'/>
          <col style='width: 20%;'/>
      </colgroup>
      <tr>
          <th class='th_bs'>기록 날짜</th>
          <th class='th_bs'>시가</th>
          <th class='th_bs'>종가</th>
          <th class='th_bs'>거래량</th>
          <th class='th_bs'>변동률</th>
      </tr>
  
      <tr th:each="stockdataVO : ${stockdataList}" 
           th:attr="onclick=|location.href='./read/${stockdataVO.sdatano}'|"
           style="cursor: pointer;">
          <td class='td_basic' th:text="${stockdataVO.rdate}"></td>
          <td class='td_basic' th:text="${stockdataVO.open_price}"></td>
          <td class='td_basic' th:text="${stockdataVO.close_price}"></td>
          <td class='td_basic' th:text="${stockdataVO.volume}"></td>
          <td class='td_basic' th:text="${stockdataVO.change}"></td>
      </tr>
  </table>


  <div class='bottom_menu'>
  </div>

</div>
</html>
