<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${stockdataVO.rdate}" class="title_line_text"></span>
    > 
    <span th:if="${stockVO != null}" th:text="${stockVO.name}" class="title_line_text"></span>
    <span th:if="${stockVO == null}" class="title_line_text">정보 없음</span>
    > 종목 데이터 조회
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/stockdata/create|}">등록</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/stockdata/update/${stockdataVO.sdatano}|}">수정</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/stockdata/delete/${stockdataVO.sdatano}|}">삭제</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
          <span>기록 날짜 </span><br>
          <span style="font-size: 1.5em; font-weight: bold;" th:text="${stockdataVO.rdate}"></span><br><br>
          
          <span>종목명 </span><br>
          <span style="font-size: 1.5em; font-weight: bold;" th:if="${stockVO != null}" th:text="${stockVO.name}"></span>
          <span th:if="${stockVO == null}" style="font-size: 1.5em; font-weight: bold;">정보 없음</span><br><br>

          <span>시가 </span><br>
          <span style="font-size: 1em;" th:text="${stockdataVO.open_price}"></span><br><br>
          
          <span>종가 </span><br>
          <span style="font-size: 1em;" th:text="${stockdataVO.close_price}"></span><br><br>
          
          <span>거래량 </span><br>
          <span style="font-size: 1em;" th:text="${stockdataVO.volume}"></span><br><br>
          
          <span>변동률 </span><br>
          <span style="font-size: 1em;" th:text="${stockdataVO.change}"></span><br><br>
        </div>
      </li>
    </ul>
  </fieldset>

</div>

</html>
