<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%; table-layout: fixed;">
    <colgroup>
      <col style="width: 10%;"/>
      <col style="width: 20%;"/> <!-- 설문조사 항목 번호 열 크기 설정 -->
      <col style="width: 20%;"/> <!-- 항목 내용 열을 넓게 설정 -->
      <col style="width: 20%;"/> <!-- 제목 열 크기 설정 -->
      <col style="width: 15%;"/> <!-- 인원 수 열 크기 설정 -->
     
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>  
        <th class="th_bs">설문조사 항목 번호</th>
        <th class="th_bs">항목 내용</th>
        <th class="th_bs">제목</th>
        <th class="th_bs">인원 수</th>
     
      </tr>
    </thead>
    <tbody>
      <tr th:each="surveytopicitemVO, status : ${list}">
        <!-- 순서 -->
        <td class="td_bs" style="text-align: center;" th:text="${status.index + 1}"></td>
        
        <!-- 설문조사 항목 번호 -->
        <td class="td_bs" style="text-align: center;" th:text="${surveytopicitemVO.surveytopicno}"></td>
        
        
        
        <!-- 제목 -->
        <td class="td_bs" style="text-align: center;" th:text="${surveytopicitemVO.title}"></td>
        
        <!-- 항목 내용 -->
        <td class="td_bs" style="text-align: center;">
          <a style="color: black;" th:text="${surveytopicitemVO.item}"></a>
        </td>

        <!-- 인원 수 -->
        <td class="td_bs" style="text-align: center;" th:text="${surveytopicitemVO.itemcnt}">0</td>
        
        <!-- 기타
        <td class="td_bs" style="text-align: center;">
          <a th:href="@{|/surveyitem/update?surveyitemno=${surveytopicitemVO.surveyitemno}&surveytopicno=${surveytopicitemVO.surveytopicno}|}">
            <img src="/survey/images/update.png" class="icon" title="수정">
          </a>
          <a th:href="@{|/surveyitem/delete?surveyitemno=${surveytopicitemVO.surveyitemno}&surveytopicno=${surveytopicitemVO.surveytopicno}&word=${word}&now_page=${now_page}|}">
            <img src="/survey/images/delete.png" class="icon" title="삭제" alt="삭제">
          </a>
        </td> -->
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
</div>
