<div th:fragment="list_all_fragment"> 
  <table class="table table-hover" style="width: 100%; table-layout: fixed;">
    <colgroup>
      <col style="width: 10%;"/>
      <col style="width: 20%;"/> <!-- 설문조사 항목 번호 열 크기 설정 -->
      <col style="width: 20%;"/> <!-- 항목 내용 열을 넓게 설정 -->
      <col style="width: 20%;"/> <!-- 제목 열 크기 설정 -->
      <col style="width: 15%;"/> <!-- 인원 수 열 크기 설정 -->
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>  
        <th class="th_bs">설문조사 항목 번호</th>
        <th class="th_bs">항목 내용</th>
        <th class="th_bs">제목</th>
        <th class="th_bs">인원 수</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="surveytopicitemVO, status : ${list}">
        <!-- 순서 -->
        <td class="td_bs" style="text-align: center;" th:text="${status.index + 1}"></td>
        
        <!-- 설문조사 항목 번호 -->
        <td class="td_bs" style="text-align: center;" th:text="${surveytopicitemVO.surveytopicno}"></td>
        
        <!-- 제목 -->
        <td class="td_bs" style="text-align: center;" th:text="${surveytopicitemVO.title}"></td>
        
        <!-- 항목 내용 -->
        <td class="td_bs" style="text-align: center;">
          <a style="color: black;" th:text="${surveytopicitemVO.item}"></a>
        </td>

        <!-- 인원 수 -->
        <td class="td_bs" style="text-align: center;">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div style='display: flex; align-items: center;'>
              <span style="color: black;">선택 인원 :</span>
              <span th:text="${surveytopicitemVO.itemcnt}" style="color: black; margin-left: 5px"></span>
            </div>

            <!-- 선택 인원에 기반한 스타일 -->
            <div style="width: 100px; height: 20px; background-color: lightgray; margin-top: 5px; border-radius: 5px; position: relative;">
              <div th:style="'width:' + (${surveytopicitemVO.itemcnt} * 5) + 'px; height: 100%; background-color:' + 
                (${surveytopicitemVO.itemcnt} >= 10 ? 'green' : (${surveytopicitemVO.itemcnt} >= 5 ? 'orange' : 'red')) + 
                '; border-radius: 5px; position: absolute; transition: width 0.5s;'" class="progress-bar"></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>

  <!-- 버튼 추가 -->
  <div style="text-align: center; margin-top: 20px;">
    <a href="/surveyitem/column_simple_data2" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px; text-decoration: none; color: white; background-color: #6c757d; border-radius: 5px; margin-right: 10px;">
      설문 결과 차트 보기
    </a>
   
  </div>
</div>
