<!DOCTYPE html>
<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="'주식 등록'" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <a th:href="@{|/stock/create?newscateno=${newscateno}|}">등록</a>
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a th:href="@{|/stock/list_all|}">목록</a>
  </aside>

  <div class='menu_line'></div>

  <!-- 폼 시작 -->
  <form name="frm" method="post" th:object="${stockVO}" th:action="@{/stock/create}" enctype="multipart/form-data">
    <div>
      <label for="symbol">심볼</label>
      <input type="text" id="symbol" name="symbol" th:value="${stockVO.symbol}" required="required"
             class="form-control" style="width: 100%;">
    </div>

    <div>
      <label for="name">주식명</label>
      <input type="text" id="name" name="name" th:value="${stockVO.name}" required="required"
             class="form-control" style="width: 100%;">
    </div>

    <div>
      <label for="industry">산업</label>
      <input type="text" id="industry" name="industry" th:value="${stockVO.industry}"
             class="form-control" style="width: 100%;">
    </div>

    <div>
      <label for="description">설명</label>
      <textarea id="description" name="description" th:value="${stockVO.description}" class="form-control"
                rows="12" style="width: 100%;">주식에 대한 설명을 입력하세요.</textarea>
    </div>
    
    <div>
       <label>이미지</label>
       <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>  

    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='/stock/list_all'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  </form>
  <!-- 폼 끝 -->

</div>
</html>
