<!DOCTYPE html> 

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${newscateVO.genre }" class="title_line_text"></span > 
    > <span th:text="${newscateVO.name}" class="title_line_text"></span > 
    > 글 조회
  </div>
  
  <aside class="aside_right" th:if="${session.grade == 'admin'}">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_cateno?newscateno=${newscateVO.newscateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?newscateno=${newscateVO.newscateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/contents/create?newscateno=${newscateVO.newscateno}|}">등록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|/contents/update_text?contentno=${contentsVO.contentno}&now_page=${now_page}&word=${word }|}">글 수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./delete?contentno=${contentsVO.contentno}&word=${word}&now_page=${now_page}&newscateno=${contentsVO.newscateno}|}">삭제</a>  
 </aside> 

  <aside class="aside_right" th:if="${session.grade != 'admin'}">
     <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_cateno?newscateno=${newscateVO.newscateno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?newscateno=${newscateVO.newscateno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside> 
 
  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${contentsVO.title}"></span>
          <span style="font-size: 1em;" th:text="${contentsVO.rdate }"></span><br><br>
        </div>
      </li>
      
      <li class="li_none">
        <div style="margin-top: 20px;">
          <strong>종목:</strong>
          <span th:text="${stockVO.symbol + ' : ' + stockVO.name}"></span>
        </div>
      </li>
      
      <li class="li_none">
        <div style="margin-top: 20px;">
          <strong>분석:</strong><br>
          <span th:text="${newsVO.impact}"></span>
        </div>
      </li>
      
      <li class="li_none">
        <div style="margin-top: 20px;">
          <strong>요약:</strong><br>
          <span th:text="${newsVO.summary}"></span>
        </div>
      </li>
      
      <li class="li_none" th:text="|검색어(키워드): ${contentsVO.word }|">
      </li>
        
    </ul>
  </fieldset>

</div>

</html>