<!DOCTYPE html>

<html layout:decorate="~{th/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>회원 목록(관리자 전용)</div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span> 
    <a href='/member/logout'>로그아웃</a>
  </aside> 
   
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 5%;'/>
      <col style='width: 5%;'/>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 30%;'/>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>등급</th>
      <th class='th_bs'>회원 번호</th>  
      <th class='th_bs'>아이디</th>
      <th class='th_bs'>닉네임</th>
      <th class='th_bs'>전화번호</th>
      <th class='th_bs'>주소</th>
      <th class='th_bs'>가입일</th>
    </tr>
   
    <tr th:each="memberVO : ${list}">
      <td class='td_basic'>
        <div>
          <div th:if="${memberVO.grade >= 1 and memberVO.grade <= 10}"><img src='/member/images/admin.png' title="관리자" class="icon"></div>
          <div th:if="${memberVO.grade >= 11 and memberVO.grade <= 20}"><img src='/member/images/user.png' title="회원" class="icon"></div>
          <div th:if="${memberVO.grade >= 30 and memberVO.grade <= 39}"><img src='/member/images/pause.png' title="정지 회원" class="icon"></div>
          <div th:if="${memberVO.grade == 99}"><img src='/member/images/x.png' title="탈퇴 회원" class="icon"></div>
        </div>
      </td>
      <td class='td_basic' th:text="${memberVO.memberno}"></td>
      <td class='td_left'><a th:href="@{|./read?memberno=${memberVO.memberno}|}" th:text="${memberVO.id}"></a></td>
      <td class='td_left'><a th:href="@{|./read?memberno=${memberVO.memberno}|}" th:text="${memberVO.nickname}"></a></td>
      <td class='td_basic' th:text="${memberVO.tel}"></td>
      <td class='td_left'>
        <span th:if="${memberVO.address.length() > 15 }" th:text="|${memberVO.address.substring(0, 15) }...|"></span>
        <span th:unless="${memberVO.address.length() > 15 }" th:text="${memberVO.address}"></span>
      </td>
      <td class='td_basic' th:text="${memberVO.rdate.substring(0, 10)}"></td>
    </tr>
  </table>
  
  <!-- 페이징 -->
  <div class="pagination">
    <!-- 검색 결과가 있을 때만 페이징 표시-->
    <th:block th:if="${total > 0}">
      <!-- 이전 페이지-->
      <a th:if="${pageDTO.prev}" th:href="@{|/member/list?page=${pageDTO.startPage - 1}&searchType=${searchDTO.searchType}&keyword=${searchDTO.keyword}|}"></a>
      
      <!-- 페이지 번호-->
      <th:block th:each="num : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
        <a th:href="@{|/member/list?page=${num}&searchType=${searchDTO.searchType}&keyword=${searchDTO.keyword}|}"
          th:class="${pageDTO.currentPage == num} ? 'active' : ''"
          class="page-link"
          th:text="${num}"></a>
      </th:block>

      <!-- 다음 페이지-->
      <a th:if="${pageDTO.next}" th:href="@{|/member/list?page=${pageDTO.endPage + 1}&searchType=${searchDTO.searchType}&keyword=${searchDTO.keyword}|}"></a>
    </th:block>
  </div>

  <!-- 검색 결과가 없을 때 메시지 표시-->
  <div th:if="${total == 0}" class="text-center mt-3">검색 결과가 존재하지 않습니다.</div>

  <script>
    function search() {
      const searchType = document.getElementById('searchType').value;
      const keyword = document.getElementById('keyword').value;
        
      if (keyword.trim() === '') {
        alert('검색어를 입력해주세요');
        return;
      }
        
      location.href = `/member/list?page=1&searchType=${searchType}&keyword=${keyword}`;
    }
    
    // 엔터키 검색 기능
    document.getElementById('keyword').addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        search();
      }
    });
  </script>

  <div class='bottom_menu'>
    <select id="searchType" th:value="${searchDTO.searchType}">
      <option value="id">아이디</option>
      <option value="nickname">닉네임</option>
    </select>
    <input type="text" id="keyword" th:value="${searchDTO.keyword}" placeholder="검색어를 입력하세요">
    <button onclick="search()">검색</button>
    <button th:onclick="|location.href='/member/list'|">취소</button>
  </div>

</div>
</html>